.wrapper {
  height: 70px;
}

.optionsrow {
  float: right;
}

.title {
  padding-top: 20px;
  padding-left: 15px;

  font-family: "SFProDisplayBold";
  font-size: larger;
  opacity: 0.7;
}

.simple-padding {
  padding: 15px;

  display: flex;

  flex-direction: row;
  justify-content: flex-end;

  align-items: center;
}

.white-background {
  background-color: white;
}
.dropdown-toggle::after {
  display: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: white;
  border-color: white;
}
.btn-outline-primary {
  color: #007bff;
  border-color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255);
}

.icons {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding-right: 5px;

  transition: 0.5s;
  opacity: 0.3;
}

.icons:hover {
  filter: invert(37%) sepia(78%) saturate(2136%) hue-rotate(186deg)
    brightness(95%) contrast(90%);
}

.icons.active {
  filter: invert(0%) sepia(0%) saturate(7490%) hue-rotate(136deg)
    brightness(83%) contrast(95%);
  opacity: 1;
}

#arrow-icon {
  transition: 0.5s;
}

#arrow-icon.active {
  transform: rotate(0.5turn) translateX(-5px);
}
