.letter-container {
  display: flex;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.letter-item {
  margin-top: 15px;
  font-size: larger;
  color: white;
}
