<div class="action">
  <div class="icon-container" (click)="showHiddenMenu()">
    <img src="/assets/icons/icon_options.svg" />
  </div>
  <div class="menu">
    <ul>
      <li class="first-element">
        <img src="assets/icons/icon_edit.svg" /><a href="">Edit</a>
      </li>
      <li><img src="assets/icons/icon_print.svg" /><a href="">Print</a></li>
      <li>
        <img src="assets/icons/icon_replicate.svg" /><a href="">Duplicate</a>
      </li>
      <li>
        <img src="assets/icons/icon_download.svg" /><a href="">Download</a>
      </li>
      <li class="last-element">
        <img src="assets/icons/icon_share.svg" /><a href="">Share</a>
      </li>
    </ul>
  </div>
</div>
