.profile-img {
  height: 35px;
  width: 35px;
  border-radius: 100%;
}

.icon {
  height: 25px;
  width: 25px;
}

.row {
  display: flex;
  justify-content: right;
}

.row > * {
  margin-right: 20px;
}
