.alphabet-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  padding-left: 25px;
  gap: 20px;
  background-color: #f2f2f2;
  height: 720px;
  overflow: hidden;
}

.alphabet-container:hover {
  overflow: auto;
}

.alphabet-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}

.alphabet-container::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: gray;
}

.alphabet-container::-webkit-scrollbar-button,
.alphabet-container::-webkit-scrollbar-track,
.alphabet-container::-webkit-scrollbar-track-piece,
.alphabet-container::-webkit-scrollbar-corner,
.alphabet-container::-webkit-resizer {
  display: none;
}
